#body{
    background-color: #DFD9E2;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

button {
background-color: #C3ACCE;
border-radius: 8px;
}

#recipeSearchBtn {
    height: 35px;
}

#recipeBlock {
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    border-radius: 15px;
    border-color: #538083;
    background-color: #CEC5D3;
}

#groceryPage {
    margin: 10px;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
    border-radius: 15px;
    border-color: #538083;
    background-color: #CEC5D3;
}

.grey{
  background-color: #89909F;
  border-bottom: black;
  border-width: 3px;
  border-bottom-style: solid;
}
.calendar > .nav {
    align-items: center;
}
.calendar > div {
    display: flex;
    justify-content: space-evenly;
}
.calendar > div > div {
    padding: 12px;
}
.calendar > .header > div, .calendar > .body > div {
    flex: 1 0 120px;
    border-right: 1px solid #e6e6e6;
}
.fas:focus {
    outline: none;
    opacity: 1;
}

main{
    margin: 20px;
}



.modal-style{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffffe0;
}

#map {
    height: 100%;
    margin: 25px;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }
#recipePage{
    /* flex-direction: row;
    justify-content: space-around;
    max-width: min-content; */
}
  
  
 #iframeContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #b4a9a9;

 }

 iframe {
  height: 90vh;
  width: 90vw;
  background-color: white;
    border-radius: 20px;
 }

 #ingredientsButton {
    margin-left: 10px;
    /* max-height: 25px; */
}

#recipeContainer{
   display: flex;
   flex-direction: column;
   padding: 20px;
}

#innerRecipeElCon{
    display: flex;
    margin: 6px;
    border: 2px;
    border-color: #2A7F62;
    border-style: solid;
    border-radius: 8px;
    padding: 4px;
    justify-content: space-between;
    background-color: #BBAEC2;
}